<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>演唱会后台管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="/static/image/x-icon" />
    <link rel="stylesheet" href="/static/css/font.css">
	<link rel="stylesheet" href="/static/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>

</head>
<body>
    <!-- 顶部开始 -->
    <div class="container">
         {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}
        <div class="logo"><a href="/index_manager/?username={{ username }}&role={{ role }}">演唱会后台管理系统</a></div>
        <div class="open-nav"><i class="iconfont">&#xe699;</i></div>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">{{ username }}</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a href="/modifypasswordview_singer/?username={{ username }}">修改密码</a></dd>
              <dd><a href="/ret/?username={{ username }}">退出</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item">身份:{{ role }}</li>
        </ul>
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <div class="wrapper">
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
          <div id="side-nav">
            <ul id="nav">
                <li class="list" current>
                    <a href="/index_manager/?username={{ username }}&role={{ role }}">
                        <i class="iconfont">&#xe761;</i>
                        欢迎页面
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>


                <li class="list" >
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6a3;</i>
                        演唱会购票情况查询
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu opened">
                        <li class="current">
                            <a href="/show_singer/?username={{ username }}&role={{ role }}">
                                <i class="iconfont">&#xe6a7;</i>
                                显示购票统计结果
                            </a>
                        </li>

                    </ul>
                </li>

            </ul>
          </div>
        </div>
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
          <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->


            <fieldset class="layui-elem-field layui-field-title site-title">
              <legend><a name="default">结果统计</a></legend>
            </fieldset>
            <table class="layui-table">
                <thead>
                    <tr>

                        <th>演唱会及购票类型</th>

                        <th>剩余票数</th>
                        <th>总票数</th>
                    </tr>
                </thead>
                <tbody>
                {% for tk in tklist %}
                    <tr>
                        <td>
                            {{ tk.concert.name }}({{ tk.name }})
                        </td>
                    <td>
                        {{ tk.remain }}
                    </td>
                    <td>
                        {{ tk.total }}
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <!-- 右侧内容框架，更改从这里结束 -->
          </div>
        </div>
        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">本后台系统使用Django技术框架+X-adminV1.1</div>
    </div>
    <!-- 底部结束 -->
    <!-- 背景切换开始 -->
	<div class="bg-changer">
        <div class="swiper-container changer-list">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="item" src="/static/images/a.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/static/images/b.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/static/images/c.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/static/images/d.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/static/images/e.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/static/images/f.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/static/images/g.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/static/images/h.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/static/images/i.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/static/images/j.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/static/images/k.jpg" alt=""></div>
                <div class="swiper-slide"><span class="reset">初始化</span></div>
            </div>
        </div>
        <div class="bg-out"></div>
        <div id="changer-set"><i class="iconfont">&#xe696;</i></div>
    </div>
    <!-- 背景切换结束 -->

</body>
</html>